@model GMS.Infrastructure.ViewModels.Guests.GuestsListViewModel
<h5>Payments</h5>
<table class="table" id="tblPaymentAttributes">
    <thead class="table-dark">
        <tr>
            <th scope="col">Mode - Guarentee Code</th>
            <th scope="col" class="text-right">Amount</th>
            <th scope="col">Payment Date</th>
            <th scope="col">Reference/UTR Number</th>
            <th scope="col">Remarks</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.PaymentsWithAttr != null)
            {
                foreach (var item in Model.PaymentsWithAttr)
                {
                    <tr class="system cal">
                        <td class="systemselect mode">@item.PaymentMethodName</td>
                        <td class="amount fc-parent text-right">@item.Amount</td>
                        <td class="date paymentdate fc-parent">@item?.DateOfPayment?.ToString("dd-MMM-yyyy hh:mm tt")</td>
                        <td class="referencenumber fc-parent">@item.ReferenceNumber</td>
                        <td class="remarks fc-parent">@item.Comments</td>
                        <td class=""></td>
                    </tr>
                }
            }
            if (Model != null && Model.opt == "add")
            {
                <tr class="system cal">
                    <td class="systemselect mode">
                        <select>
                            <option value="0">Select Method</option>
                            @{
                                if (Model != null && Model.PaymentMethods != null)
                                {
                                    foreach (var item in Model.PaymentMethods)
                                    {
                                        <option value="@item.Id">@item.Code</option>
                                    }
                                }
                            }
                        </select>
                    </td>
                    <td class="amount fc-parent text-right"><input type="number" class="form-control-c text-right" value="0" /></td>
                    <td class="date paymentdate fc-parent"><input type="text" class="form-control-c" style="float:left" /></td>
                    <td class="referencenumber fc-parent"><input type="text" class="form-control-c" style="float:left" /></td>
                    <td class="remarks fc-parent"><input type="text" class="form-control-c" style="float:left" /></td>
                    <td class=""><i style="color:green" class="bi bi-floppy clickabel-icon" onclick="SavePaymentInformation(this)"></i></td>
                </tr>
            }
        }
    </tbody>
</table>