@model GMS.Infrastructure.ViewModels.Guests.GuestsListViewModel

<style>
    .add_user_form .form-control {
        background: #eaeaeaa3 !important;
    }
</style>

<div class="modal fade" id="addGuestPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-addGuestPopup modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Guest</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div class="add_user_form" id="AddGuestForm">
                    <input type="hidden" asp-for="MemberDetail.Id" dbCol />
                    <input type="hidden" asp-for="MemberDetail.GroupId" dbCol />
                    <input type="hidden" asp-for="MemberDetail.UniqueNo" dbCol />
                    <input type="hidden" name="MemberDetail.PAXSno" />
                    <input type="hidden" name="RoomAllocation.RNumber" dbCol />
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <label style="float:right">Pax No : <span name="spnPAXSno"></span></label>
                                <label style="clear:both"></label>
                            </div>
                            <div class="col-md-6">
                                <!-- box dd -->
                                <div class="formBlock">
                                    <div class="col-sm-12 formTitle"><b>PERSONAL INFORMATION</b></div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">First Name</label>
                                            <input type="text" class="contact_name form-control requiredInput" placeholder="" asp-for="MemberDetail.Fname" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Middle Name</label>
                                            <input type="text" class="contact_name form-control" placeholder="" asp-for="MemberDetail.Mname" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">Last Name</label>
                                            <input type="text" class="contact_name form-control requiredInput" placeholder="" asp-for="MemberDetail.Lname" dbCol>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">Date of Birth</label>
                                            <input type="text" class="contact_name form-control dateonly requiredInput" dateformat="DD-MM-YYYY" autocomplete="off" placeholder="" asp-for="MemberDetail.Dob" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">Age</label>
                                            <input type="text" class="contact_name form-control requiredInput" placeholder="" autocomplete="off" onblur="return fixedlength(this, event, 3);" onkeypress="return fixedlength(this, event, 3);" onkeyup="return fixedlength(this, event, 3);" asp-for="MemberDetail.Age" dbCol>
                                        </div>
                                        <div class="checkbox form-group col-sm-4 col-xs-4">
                                            <label class="required">Gender</label>
                                            <select class="contact_name form-control requiredInput" asp-for="MemberDetail.Gender" dbCol>
                                                <option value="0"></option>
                                                @{
                                                    if (Model != null && Model.Genders != null)
                                                    {
                                                        foreach (var item in Model.Genders)
                                                        {
                                                            <option value="@item.Id">@item.Gender</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Marital Status</label>
                                            <select class="contact_name form-control" asp-for="MemberDetail.MarStatus" dbCol>
                                                <option value="0"></option>
                                                <option value="S">Single </option>
                                                <option value="M">Married</option>
                                                <option value="Se">Separated </option>
                                                <option value="D">Divorce</option>
                                                <option value="O">Others</option>
                                                <option value="O">Not Mentioned</option>

                                            </select>
                                        </div>

                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Blood Group</label>
                                            <select class="contact_name form-control" asp-for="MemberDetail.BloodGroup" dbCol>
                                                <option value="0" selected="selected"></option>
                                                <option value="A+">A+</option>
                                                <option value="A-">A-</option>
                                                <option value="B+">B+</option>
                                                <option value="B-">B-</option>
                                                <option value="O+">O+</option>
                                                <option value="O-">O-</option>
                                                <option value="AB+">AB+</option>
                                                <option value="AB-">AB-</option>
                                                <option value="Not Known">Not Known</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Occupation</label>
                                            <input type="text" asp-for="MemberDetail.Occupation" class="contact_name form-control" placeholder="" dbCol>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">Mobile Number</label>
                                            <input type="text" class="contact_name form-control requiredInput" placeholder="" asp-for="MemberDetail.MobileNo" style="padding-left:45px !important" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Home Phone Number</label>
                                            <input type="text" class="contact_name form-control" placeholder="" onblur="return fixedlength(this, event, 15);" onkeypress="return fixedlength(this, event, 15);" onkeyup="return fixedlength(this, event, 15);" asp-for="MemberDetail.EmergencyNo" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Email</label>
                                            <input type="text" class="contact_name form-control" placeholder="" asp-for="MemberDetail.Email" dbCol>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-12">
                                            <label>Any Specific Health Issues</label>
                                            <textarea class="form-control" rows="7" asp-for="MemberDetail.HealthIssues" dbCol></textarea>
                                        </div>
                                    </div>


                                </div>
                                <!-- ------- -->
                                <!-- box dd -->
                                <div class="formBlock">

                                    <div class="col-sm-12 formTitle"><b>CONTACT INFORMATION</b></div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 col-xs-4 txt-margn">
                                            <label class="required">Address</label>
                                            <textarea rows="2" cols="20" asp-for="MemberDetail.Address1" class="contact_name form-control requiredInput" placeholder="" dbCol></textarea>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">City</label>
                                            <select class="contact_name form-control requiredInput" asp-for="MemberDetail.City" dbCol>
                                                <option selected="selected" value="0"></option>
                                                @{
                                                    if (Model != null && Model.Cities != null)
                                                    {
                                                        foreach (var item in Model.Cities)
                                                        {
                                                            <option value="@item.Id">@item.City</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" id="hfCity" value="0">
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">State</label>
                                            <select asp-for="MemberDetail.State" class="contact_name form-control requiredInput" placeholder="" dbCol>
                                                <option selected="selected" value="0"></option>
                                                @{
                                                    if (Model != null && Model.States != null)
                                                    {
                                                        foreach (var item in Model.States)
                                                        {
                                                            <option value="@item.Id">@item.State</option>
                                                        }
                                                    }
                                                }
                                                <option value="33">Other</option>

                                            </select>
                                            <input type="hidden" id="hfState" value="0">
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">Pin Code</label>
                                            <input asp-for="MemberDetail.Pincode" type="text" class="contact_name form-control requiredInput" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">Country</label>
                                            <select asp-for="MemberDetail.Country" class="contact_name form-control requiredInput" dbCol>
                                                <option selected="selected" value="0"></option>
                                                @{
                                                    if (Model != null && Model.Countries != null)
                                                    {
                                                        foreach (var item in Model.Countries)
                                                        {
                                                            <option value="@item.SrNo">@item.Country</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" id="hfCountry" value="0">
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">Nationality</label>
                                            <input type="hidden" id="hfNationality" value="0">
                                            <select asp-for="MemberDetail.Nationality" class="contact_name form-control requiredInput" dbCol>
                                                <option value="0">--Nationality *--</option>
                                                <option value="Afghan">Afghan</option>
                                                <option value="Albanian">Albanian</option>
                                                <option value="Algerian">Algerian</option>
                                                <option value="American">American</option>
                                                <option value="Andorran">Andorran</option>
                                                <option value="Angolan">Angolan</option>
                                                <option value="Antiguans">Antiguans</option>
                                                <option value="Argentinean">Argentinean</option>
                                                <option value="Armenian">Armenian</option>
                                                <option value="Australian">Australian</option>
                                                <option value="Austrian">Austrian</option>
                                                <option value="Azerbaijani">Azerbaijani</option>
                                                <option value="Bahamian">Bahamian</option>
                                                <option value="Bahraini">Bahraini</option>
                                                <option value="Bangladeshi">Bangladeshi</option>
                                                <option value="Barbadian">Barbadian</option>
                                                <option value="Barbudans">Barbudans</option>
                                                <option value="Batswana">Batswana</option>
                                                <option value="Belarusian">Belarusian</option>
                                                <option value="Belgian">Belgian</option>
                                                <option value="Belizean">Belizean</option>
                                                <option value="Beninese">Beninese</option>
                                                <option value="Bhutanese">Bhutanese</option>
                                                <option value="Bolivian">Bolivian</option>
                                                <option value="Bosnian">Bosnian</option>
                                                <option value="Brazilian">Brazilian</option>
                                                <option value="British">British</option>
                                                <option value="Bruneian">Bruneian</option>
                                                <option value="Bulgarian">Bulgarian</option>
                                                <option value="Burkinabe">Burkinabe</option>
                                                <option value="Burmese">Burmese</option>
                                                <option value="Burundian">Burundian</option>
                                                <option value="Cambodian">Cambodian</option>
                                                <option value="Cameroonian">Cameroonian</option>
                                                <option value="Canadian">Canadian</option>
                                                <option value="Cape Verdean">Cape Verdean</option>
                                                <option value="Central African">Central African</option>
                                                <option value="Chadian">Chadian</option>
                                                <option value="Chilean">Chilean</option>
                                                <option value="Chinese">Chinese</option>
                                                <option value="Colombian">Colombian</option>
                                                <option value="Comoran">Comoran</option>
                                                <option value="Congolese">Congolese</option>
                                                <option value="Costa Rican">Costa Rican</option>
                                                <option value="Croatian">Croatian</option>
                                                <option value="Cuban">Cuban</option>
                                                <option value="Cypriot">Cypriot</option>
                                                <option value="Czech">Czech</option>
                                                <option value="Danish">Danish</option>
                                                <option value="Djibouti">Djibouti</option>
                                                <option value="Dominican">Dominican</option>
                                                <option value="Dutch">Dutch</option>
                                                <option value="East Timorese">East Timorese</option>
                                                <option value="Ecuadorean">Ecuadorean</option>
                                                <option value="Egyptian">Egyptian</option>
                                                <option value="Emirian">Emirian</option>
                                                <option value="Equatorial Guinean">Equatorial Guinean</option>
                                                <option value="Eritrean">Eritrean</option>
                                                <option value="Estonian">Estonian</option>
                                                <option value="Ethiopian">Ethiopian</option>
                                                <option value="Fijian">Fijian</option>
                                                <option value="Filipino">Filipino</option>
                                                <option value="Finnish">Finnish</option>
                                                <option value="French">French</option>
                                                <option value="Gabonese">Gabonese</option>
                                                <option value="Gambian">Gambian</option>
                                                <option value="Georgian">Georgian</option>
                                                <option value="German">German</option>
                                                <option value="Ghanaian">Ghanaian</option>
                                                <option value="Greek">Greek</option>
                                                <option value="Grenadian">Grenadian</option>
                                                <option value="Guatemalan">Guatemalan</option>
                                                <option value="Guinea-Bissauan">Guinea-Bissauan</option>
                                                <option value="Guinean">Guinean</option>
                                                <option value="Guyanese">Guyanese</option>
                                                <option value="Haitian">Haitian</option>
                                                <option value="Herzegovinian">Herzegovinian</option>
                                                <option value="Honduran">Honduran</option>
                                                <option value="Hungarian">Hungarian</option>
                                                <option value="I-Kiribati">I-Kiribati</option>
                                                <option value="Icelander">Icelander</option>
                                                <option value="Indian">Indian</option>
                                                <option value="Indonesian">Indonesian</option>
                                                <option value="Iranian">Iranian</option>
                                                <option value="Iraqi">Iraqi</option>
                                                <option value="Irish">Irish</option>
                                                <option value="Israeli">Israeli</option>
                                                <option value="Italian">Italian</option>
                                                <option value="Ivorian">Ivorian</option>
                                                <option value="Jamaican">Jamaican</option>
                                                <option value="Japanese">Japanese</option>
                                                <option value="Jordanian">Jordanian</option>
                                                <option value="Kazakhstani">Kazakhstani</option>
                                                <option value="Kenyan">Kenyan</option>
                                                <option value="Kittian and Nevisian">Kittian and Nevisian</option>
                                                <option value="Kuwaiti">Kuwaiti</option>
                                                <option value="Kyrgyz">Kyrgyz</option>
                                                <option value="Laotian">Laotian</option>
                                                <option value="Latvian">Latvian</option>
                                                <option value="Lebanese">Lebanese</option>
                                                <option value="Liberian">Liberian</option>
                                                <option value="Libyan">Libyan</option>
                                                <option value="Liechtensteiner">Liechtensteiner</option>
                                                <option value="Lithuanian">Lithuanian</option>
                                                <option value="Luxembourger">Luxembourger</option>
                                                <option value="Macedonian">Macedonian</option>
                                                <option value="Malagasy">Malagasy</option>
                                                <option value="Malawian">Malawian</option>
                                                <option value="Malaysian">Malaysian</option>
                                                <option value="Maldivian">Maldivian</option>
                                                <option value="Malian">Malian</option>
                                                <option value="Maltese">Maltese</option>
                                                <option value="Marshallese">Marshallese</option>
                                                <option value="Mauritanian">Mauritanian</option>
                                                <option value="Mauritian">Mauritian</option>
                                                <option value="Mexican">Mexican</option>
                                                <option value="Micronesian">Micronesian</option>
                                                <option value="Moldovan">Moldovan</option>
                                                <option value="Monacan">Monacan</option>
                                                <option value="Mongolian">Mongolian</option>
                                                <option value="Moroccan">Moroccan</option>
                                                <option value="Mosotho">Mosotho</option>
                                                <option value="Motswana">Motswana</option>
                                                <option value="Mozambican">Mozambican</option>
                                                <option value="Namibian">Namibian</option>
                                                <option value="Nauruan">Nauruan</option>
                                                <option value="Nepalese">Nepalese</option>
                                                <option value="New Zealander">New Zealander</option>
                                                <option value="Ni-Vanuatu">Ni-Vanuatu</option>
                                                <option value="Nicaraguan">Nicaraguan</option>
                                                <option value="Nigerian">Nigerian</option>
                                                <option value="Nigerien">Nigerien</option>
                                                <option value="North Korean">North Korean</option>
                                                <option value="Northern Irish">Northern Irish</option>
                                                <option value="Norwegian">Norwegian</option>
                                                <option value="Omani">Omani</option>
                                                <option value="Pakistani">Pakistani</option>
                                                <option value="Palauan">Palauan</option>
                                                <option value="Panamanian">Panamanian</option>
                                                <option value="Papua New Guinean">Papua New Guinean</option>
                                                <option value="Paraguayan">Paraguayan</option>
                                                <option value="Peruvian">Peruvian</option>
                                                <option value="Polish">Polish</option>
                                                <option value="Portuguese">Portuguese</option>
                                                <option value="Qatari">Qatari</option>
                                                <option value="Romanian">Romanian</option>
                                                <option value="Russian">Russian</option>
                                                <option value="Rwandan">Rwandan</option>
                                                <option value="Saint Lucian">Saint Lucian</option>
                                                <option value="Salvadoran">Salvadoran</option>
                                                <option value="Samoan">Samoan</option>
                                                <option value="San Marinese">San Marinese</option>
                                                <option value="Sao Tomean">Sao Tomean</option>
                                                <option value="Saudi">Saudi</option>
                                                <option value="Scottish">Scottish</option>
                                                <option value="Senegalese">Senegalese</option>
                                                <option value="Serbian">Serbian</option>
                                                <option value="Seychellois">Seychellois</option>
                                                <option value="Sierra Leonean">Sierra Leonean</option>
                                                <option value="Singaporean">Singaporean</option>
                                                <option value="Slovakian">Slovakian</option>
                                                <option value="Slovenian">Slovenian</option>
                                                <option value="Solomon Islander">Solomon Islander</option>
                                                <option value="Somali">Somali</option>
                                                <option value="South African">South African</option>
                                                <option value="South Korean">South Korean</option>
                                                <option value="Spanish">Spanish</option>
                                                <option value="Sri Lankan">Sri Lankan</option>
                                                <option value="Sudanese">Sudanese</option>
                                                <option value="Surinamer">Surinamer</option>
                                                <option value="Swazi">Swazi</option>
                                                <option value="Swedish">Swedish</option>
                                                <option value="Swiss">Swiss</option>
                                                <option value="Syrian">Syrian</option>
                                                <option value="Taiwanese">Taiwanese</option>
                                                <option value="Tajik">Tajik</option>
                                                <option value="Tanzanian">Tanzanian</option>
                                                <option value="Thai">Thai</option>
                                                <option value="Togolese">Togolese</option>
                                                <option value="Tongan">Tongan</option>
                                                <option value="Trinidadian or Tobagonian">Trinidadian or Tobagonian</option>
                                                <option value="Tunisian">Tunisian</option>
                                                <option value="Turkish">Turkish</option>
                                                <option value="Tuvaluan">Tuvaluan</option>
                                                <option value="Ugandan">Ugandan</option>
                                                <option value="Ukrainian">Ukrainian</option>
                                                <option value="Uruguayan">Uruguayan</option>
                                                <option value="Uzbekistani">Uzbekistani</option>
                                                <option value="Venezuelan">Venezuelan</option>
                                                <option value="Vietnamese">Vietnamese</option>
                                                <option value="Welsh">Welsh</option>
                                                <option value="Yemenite">Yemenite</option>
                                                <option value="Zambian">Zambian</option>
                                                <option value="Zimbabwean">Zimbabwean</option>
                                                <option value="Swaziland ">Swaziland </option>
                                                <option value="Sweden ">Sweden </option>
                                                <option value="Switzerland ">Switzerland </option>
                                                <option value="Syria ">Syria </option>
                                                <option value="Taiwan ">Taiwan </option>
                                                <option value="Tajikistan ">Tajikistan </option>
                                                <option value="Tanzania ">Tanzania </option>
                                                <option value="Thailand ">Thailand </option>
                                                <option value="Togo ">Togo </option>
                                                <option value="Tonga ">Tonga </option>
                                                <option value="Trinidad &amp; Tobago ">Trinidad &amp; Tobago </option>
                                                <option value="Tunisia ">Tunisia </option>
                                                <option value="Turkey ">Turkey </option>
                                                <option value="Turkmenistan ">Turkmenistan </option>
                                                <option value="Turks &amp; Caicos Is ">Turks &amp; Caicos Is </option>
                                                <option value="Tuvalu ">Tuvalu </option>
                                                <option value="Uganda ">Uganda </option>
                                                <option value="Ukraine ">Ukraine </option>
                                                <option value="United Arab Emirates ">United Arab Emirates </option>
                                                <option value="United Kingdom ">United Kingdom </option>
                                                <option value="United States ">United States </option>
                                                <option value="Uruguay ">Uruguay </option>
                                                <option value="Uzbekistan ">Uzbekistan </option>
                                                <option value="Vanuatu ">Vanuatu </option>
                                                <option value="Venezuela ">Venezuela </option>
                                                <option value="Vietnam ">Vietnam </option>
                                                <option value="Virgin Islands ">Virgin Islands </option>
                                                <option value="Wallis and Futuna ">Wallis and Futuna </option>
                                                <option value="West Bank ">West Bank </option>
                                                <option value="Western Sahara ">Western Sahara </option>
                                                <option value="Yemen ">Yemen </option>
                                                <option value="Zambia ">Zambia </option>
                                                <option value="Zimbabwe ">Zimbabwe </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="clearfix">
                                        <div class="form-group col-sm-4 col-xs-4" style="display: none">
                                            <select asp-for="MemberDetail.AboutUs" class="contact_name form-control">
                                                <option value="0">--How did you hear about us?-- </option>
                                                <option value="1">Google search </option>
                                                <option value="2">Recommended by a doctor</option>
                                                <option value="3">Friend </option>
                                                <option value="4">Newsletter</option>
                                                <option value="5">Event</option>
                                                <option value="6">Family</option>
                                                <option value="7">Magazine/newspaper advertisments</option>
                                                <option value="8">Others</option>

                                            </select>
                                        </div>
                                    </div>


                                </div>
                                <!-- ------- -->
                                <!-- box dd -->
                                <div class="formBlock">

                                    <div class="col-sm-12 formTitle"><b>DOCUMENTS</b></div>
                                    <div class="row">
                                        <div class="form-group col-sm-12 col-xs-12">
                                            <label class="required">Photo</label>
                                            <select class="contact_name form-control requiredInput" id="ddlWantToSharePhoto">
                                                <option value="0">--Select--</option>
                                                <option value="1">Do you want to share photo.</option>
                                                <option value="2">No, do not want to share photo</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-sm-12 col-xs-12" id="divUploadPhoto" style="display: none;">
                                            <label>Uplaod *</label>
                                            <div class="col-sm-12">
                                                <input type="file" name="fldphoto" id="fldphoto" class="contact_name form-control">
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 col-xs-12">
                                            <label>ID No. (PAN/Driving License/Passport)</label>
                                            <input asp-for="MemberDetail.Idproof" type="text" class="contact_name form-control" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-7 col-xs-12" style="display: none; margin-top: 22px;" id="divUploadProof">
                                            <div class="col-sm-12">
                                                <input type="file" ID="fuIdProof" class="contact_name form-control">
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 col-xs-12">
                                            <label>Passport No. &amp; Visa Details</label>
                                            <input asp-for="MemberDetail.PassportNo" type="text" class="contact_name form-control" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-7 col-xs-12" style="display: none; margin-top: 22px;" id="divUploadVisa">
                                            <div class="col-sm-12">
                                                <input type="file" ID="txtpassupload" class="contact_name form-control">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- ------- -->

                            </div>
                            <div class="col-md-6">
                                <!-- box dd -->
                                <div class="formBlock" @(Model?.MemberDetail?.PAXSno > 1 ? "readonly disabled style=pointer-events:none;opacity:0.5;" : "")>
                                    <div class="col-sm-12 formTitle"><b>STAY INFORMATION</b></div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">Primary Services</label>
                                            @{
                                                if (Model?.MemberDetail?.PAXSno > 1)
                                                {
                                                    <select asp-for="MemberDetail.CatId" class="contact_name form-control requiredInput" onchange="GetServices()" readonly disabled dbCol>
                                                        <option value="0">--Primary Services *--</option>
                                                        @{
                                                            if (Model != null && Model.Services != null)
                                                            {
                                                                foreach (var item in Model.Services)
                                                                {
                                                                    <option value="@item.Id">@item.Service</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <select asp-for="MemberDetail.CatId" class="contact_name form-control requiredInput" onchange="GetServices()" dbCol>
                                                        <option value="0">--Primary Services *--</option>
                                                        @{
                                                            if (Model != null && Model.Services != null)
                                                            {
                                                                foreach (var item in Model.Services)
                                                                {
                                                                    <option value="@item.Id">@item.Service</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                }
                                            }
                                            <input type="hidden" id="hfddlpservices" value="0">
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label class="required">Select Package</label>
                                            <select asp-for="MemberDetail.ServiceId" class="contact_name form-control requiredInput" dbCol>
                                                <option value="0">--Select Services *--</option>
                                            </select>
                                            <input type="hidden" id="hfddlservices" value="@Model?.MemberDetail?.ServiceId">
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 ">
                                            <label>Additional Nights</label>
                                            <input asp-for="MemberDetail.AdditionalNights" type="number" class="contact_name form-control" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 ">
                                            <label class="required">Arrival Date</label>
                                            <input asp-for="MemberDetail.DateOfArrival" value="@Model?.MemberDetail?.DateOfArrival?.ToString("dd-MM-yyyy HH:mm")" type="text" class="contact_name form-control datetimeonly requiredInput" dateformat="YYYY-MM-DD HH:mm" autocomplete="off" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 ">
                                            <label class="required">Departure Date</label>

                                            <input asp-for="MemberDetail.DateOfDepartment" value="@Model?.MemberDetail?.DateOfDepartment?.ToString("dd-MM-yyyy")" type="text" class="contact_name form-control dateonly requiredInput" dateformat="YYYY-MM-DD" autocomplete="off" placeholder="" readonly dbCol style="margin-right: 0px;width: 60%;display: inline-block;border-bottom-right-radius: 0px;border-top-right-radius: 0px;">
                                            <input id="departure-time" name="TimeOfDepartment" value="@Model?.MemberDetail?.DateOfDepartment?.ToString("HH:mm")" type="text" class="form-control timepicker requiredInput" style="margin-left: -5px; border-left: 0px;width: 40%; display: inline-block; border-bottom-left-radius: 0px; border-top-left-radius: 0px;">
                                        </div>

                                        @* <div class="form-group col-sm-4 col-xs-4 ">
                                            <label class="required">Type of Rooms</label>
                                            <select asp-for="MemberDetail.RoomType" class="contact_name form-control requiredInput" dbCol>
                                                <option value="0">-- Type of Room *--</option>
                                                @{
                                                    if (Model != null && Model.RoomTypes != null)
                                                    {
                                                        foreach (var item in Model.RoomTypes)
                                                        {
                                                            <option value="@item.Id">@item.Rtype</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" id="hfRoomType" value="0">
                                        </div> *@
                                        @* <div class="form-group col-sm-4 col-xs-4 ">
                                            <label class="required">Pax</label>
                                            <input asp-for="MemberDetail.Pax" type="number" class="contact_name form-control requiredInput" placeholder="Pax" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 ">
                                            <label class="required">No Of Rooms</label>
                                            <input asp-for="MemberDetail.NoOfRooms" type="number" class="contact_name form-control requiredInput" placeholder="No of Rooms" dbCol>
                                        </div> *@
                                        
                                        <div class="form-group col-sm-4 col-xs-4 ">
                                            <label class="required">Transport Services</label>
                                            <select asp-for="MemberDetail.PickUpDrop" class="contact_name form-control requiredInput" dbCol>
                                                <option value="0">--Pick Up Drop--</option>
                                                <option value="1">Yes</option>
                                                <option value="2">No</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4" id="divddlPickUp" style="display: none">
                                            <label>Pick Up Location</label>
                                            <select asp-for="MemberDetail.PickUpType" class="contact_name form-control" dbCol>
                                                <option value="0">Pick-Up</option>
                                                <option value="1">Airport Transfer</option>
                                                <option value="2">Others</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 " id="divddlCarType" style="display: none">
                                            <label>Car Type</label>
                                            <select asp-for="MemberDetail.CarType" class="contact_name form-control" dbCol>
                                                <option value="0">--Select Car Type--</option>
                                                @{
                                                    if (Model != null && Model.CarTypes != null)
                                                    {
                                                        foreach (var item in Model.CarTypes)
                                                        {
                                                            <option value="@item.Id">@item.Type</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" id="hfddlCarType" value="0">
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 " id="divtxtPickUpLocation" style="display: none">
                                            <label>Pick Up Destination</label>
                                            <input asp-for="MemberDetail.PickUpLoaction" type="text" class="contact_name form-control" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 " id="divFlightArrivalDateAndTime" style="display: none">
                                            <label>Flight Arrival DateTime</label>
                                            <input asp-for="MemberDetail.FlightArrivalDateAndDateTime" autocomplete="off" type="text" class="contact_name form-control datetimeonly" dateformat="DD-MM-YYYY HH:mm" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 " id="divFlightDepartureDateAndTime" style="display: none">
                                            <label>Flight Departure DateTime</label>
                                            <input asp-for="MemberDetail.FlightDepartureDateAndDateTime" autocomplete="off" type="text" class="contact_name form-control datetimeonly" dateformat="DD-MM-YYYY HH:mm" placeholder="" dbCol>
                                        </div>

                                    </div>
                                </div>

                                <div class="formBlock">

                                    <div class="col-sm-12 formTitle"><b>IN CASE OF EMERGENCY</b></div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Emergency Contact Name</label>
                                            <input type="text" class="contact_name form-control" placeholder="" asp-for="MemberDetail.RelativeName" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Relationship to Guest</label>
                                            <input type="text" asp-for="MemberDetail.Relations" class="contact_name form-control" placeholder="" dbCol>

                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Mobile phone no</label>
                                            <input asp-for="MemberDetail.RelativeNumber" type="text" class="contact_name form-control" placeholder="" onblur="return fixedlength(this, event, 12);" onkeypress="return fixedlength(this, event, 12);" onkeyup="return fixedlength(this, event, 12);" dbCol>

                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group col-sm-12 col-xs-12">
                                            <label>Remarks</label>
                                            <textarea asp-for="MemberDetail.Remarks" rows="3" cols="20" class="contact_name form-control" placeholder=" " dbCol></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="formBlock">

                                    <div class="col-sm-12 formTitle"><b>MEDICAL INSURANCE</b></div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Name of the Policy Holder</label>
                                            <input asp-for="MemberDetail.PolicyHolder" type="text" class="contact_name form-control" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Insurance Company Name</label>
                                            <input asp-for="MemberDetail.InsuranceCompany" type="text" class="contact_name form-control" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Policy No </label>
                                            <input asp-for="MemberDetail.PolicyNo" type="text" class="contact_name form-control" placeholder="" dbCol>
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Whether it covered in India</label>
                                            <select asp-for="MemberDetail.CoveredIndia" class="contact_name form-control" dbCol>
                                                <option value="0">--Whether it covered in India--</option>
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="formBlock" @(Model?.MemberDetail?.PAXSno > 1 ? "readonly disabled style=pointer-events:none;opacity:0.5;" : "")>
                                    <div class="col-sm-12 formTitle"><b>MARKETING INFORMATION</b></div>
                                    <div class="row">
                                        <div class="form-group col-sm-4 col-xs-4 ">
                                            <label>Brand Awareness</label>
                                            <select asp-for="MemberDetail.AboutUs" class="contact_name form-control" dbCol>
                                                <option value="0">--Brand Awareness--</option>
                                                @{
                                                    if (Model != null && Model.BrandAwarenesses != null)
                                                    {
                                                        foreach (var item in Model.BrandAwarenesses)
                                                        {
                                                            <option value="@item.Id">@item.Awareness</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" value="0" id="hfddlBrandAwareness">
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 ">
                                            <label>Lead Source</label>
                                            <select asp-for="MemberDetail.LeadSource" class="contact_name form-control" dbCol>
                                                <option value="0">--Lead Source--</option>
                                                @{
                                                    if (Model != null && Model.LeadSources != null)
                                                    {
                                                        foreach (var item in Model.LeadSources)
                                                        {
                                                            <option value="@item.Id">@item.LeadSource</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" value="0" id="hfddlLeadSource">
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4 ">
                                            <label class="required">Channel Code</label>
                                            <select asp-for="MemberDetail.ChannelCode" class="contact_name form-control  requiredInput" dbCol>
                                                <option value="0">--Channel Code *--</option>
                                                @{
                                                    if (Model != null && Model.ChannelCodes != null)
                                                    {
                                                        foreach (var item in Model.ChannelCodes)
                                                        {
                                                            <option value="@item.Id">@item.Code</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" value="0" id="hfddlChannelCode">
                                        </div>
                                        <div class="form-group col-sm-4 col-xs-4">
                                            <label>Preferred contact method</label>
                                            <select asp-for="MemberDetail.ReferContact" class="contact_name form-control" dbCol>
                                                <option value="0">--Preferred contact method-- </option>
                                                <option value="E">Email </option>
                                                <option value="H">Phone</option>
                                                <option value="M">Post phone</option>

                                            </select>
                                        </div>
                                        <div class="form-group col-sm-8 col-xs-12">
                                            <label>Subscribe your email to NAAD monthly Newsletter blog</label>
                                            <select class="contact_name form-control" asp-for="MemberDetail.IsMonthlynewsletter" dbCol>
                                                <option value="0">--Subscribe your email to NAAD monthly Newsletter blog--</option>
                                                <option value="N">No</option>
                                                <option value="Y">Yes</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="formBlock" @(Model?.MemberDetail?.PAXSno > 1 ? "readonly disabled style=pointer-events:none;opacity:0.5;" : "")>

                                    <div class="col-sm-12 formTitle"><b>PAYMENT INFORMATION</b></div>
                                    <div class="form-group col-sm-4 col-xs-4 ">
                                        <label class="required">Guarantee Code</label>
                                        <select asp-for="MemberDetail.GuarenteeCode" class="contact_name form-control  requiredInput" dbCol>
                                            <option value="0">--Guarantee Code *--</option>
                                            @{
                                                if (Model != null && Model.GuaranteeCodes != null)
                                                {
                                                    foreach (var item in Model.GuaranteeCodes)
                                                    {
                                                        <option value="@item.Id">@item.Code</option>
                                                    }
                                                }
                                            }
                                        </select>
                                        <input type="hidden" value="0" id="hfddlGuarenteeCode">
                                    </div>
                                    <div class="form-group col-sm-4 col-xs-4" id="divddlPaymentStatus" style="display: none">
                                        <label class="required">Payment Status</label>
                                        <select asp-for="MemberDetail.PaymentStatus" class="contact_name form-control requiredInput" dbCol>
                                            <option value="0">--Payment Status--</option>
                                            <option value="1">Cash</option>
                                            <option value="2">Later</option>
                                            <option value="3">Paid</option>
                                            <option value="4">Pending</option>
                                        </select>
                                        <input type="hidden" value="@Model?.MemberDetail?.PaymentStatus" id="hfddlPaymentStatus">
                                    </div>
                                    <div class="form-group col-sm-4 col-xs-4" id="divcalHoldTillDate" style="display: none">
                                        <label>Hold Till Date</label>
                                        <input asp-for="MemberDetail.HoldTillDate" type="text" placeholder="" class="contact_name form-control dateonly" value="@Model?.MemberDetail?.HoldTillDate?.ToString("dd-MM-yyyy")" dateformat="YYYY-MM-DD" dbCol autocomplete="off">
                                    </div>
                                    <div class="form-group col-sm-4 col-xs-4" id="divcalPaymentDate" style="display: none">
                                        <label>Payment Date</label>
                                        <input type="text" asp-for="MemberDetail.PaymentDate" value="@Model?.MemberDetail?.PaymentDate?.ToString("dd-MM-yyyy")" autocomplete="off" placeholder="" class="contact_name form-control dateonly" dateformat="YYYY-MM-DD" dbCol>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <!-- ------- -->
                                <!-- box dd -->
                                <!-- ------- -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCloseAddGuestForm">Cancel</button>
                <input type="button" class="btn btn-primary" onclick="AddGuests()" value="Save and Book" />
                <input type="button" class="btn btn-warning" onclick="AddGuests()" value="Save and Hold" />
            </div>
        </div>
    </div>
</div>
