@model GMS.Infrastructure.ViewModels.Rooms.RoomStatusViewModel


@{
    var enableSelection = ViewBag.EnableRoomSelection as bool? ?? false;
}

<div class="resposive_table room-table-container" style="overflow-x:scroll">
    <table class="table" id="roomReadyStatusTable">
        <thead class="table-dark">
            <tr>
                @if (enableSelection)
                {
                    <th scope="col" width="60" class="text-center">
                        <input type="checkbox" class="form-check-input" id="selectAllRooms" />
                    </th>
                }
                <th scope="col" width="200">Actions</th> @* Only Clean Button <i class="bi bi-check-all"></i> *@
                <th scope="col">Room No</th>
                <th scope="col">Room Category</th>
                <th scope="col">Room Size</th>
                <th scope="col">Bed Type</th>
                <th scope="col">Last Attended</th> @* Date and Time *@
                <th scope="col">Last Attended By</th>
                <th scope="col">Reason</th>
                <th scope="col">Status</th>
                <th scope="col">Comments</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.RoomWithAttributeList != null)
                {
                    foreach (var item in Model.RoomWithAttributeList)
                    {
                        var sanitizedRoomNumber = (item.Rnumber ?? string.Empty).Replace("'", "\\'");
                        <tr>
                            @if (enableSelection)
                            {
                                <td class="text-center">
                                    <input type="checkbox"
                                           class="form-check-input room-select"
                                           data-room-id="@item.Id"
                                           data-room-number="@item.Rnumber" />
                                </td>
                            }
                            @{
                                if (item.CleanStatus)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td onclick="OpenCheckList(@item.Id, '@sanitizedRoomNumber')" style="padding: 1px 0px 0px .5rem; cursor:pointer;">
                                        <i style="font-size: 20px;" class="bi bi-check-all"></i>
                                    </td>
                                }
                            }
                            <td>@(item.Rnumber)</td>
                            <td>@(item.Rtype)</td>
                            <td>@(item.Rsize)</td>
                            <td>@(item.BedSize)</td>
                            <td>@(item.AttendedDate?.ToString("dd-MMM-yyyy hh:mm tt"))</td>
                            <td>@(item.AttendedByName)</td>
                            <td>@(item.Reason)</td>
                            <td>
                                @{
                                    if (item.CleanStatus)
                                    {
                                        <span class="cleaned"><em class="cleanPointer"></em> Ready</span>
                                    }
                                    else
                                    {
                                        <span style="color:red" class="uncleaned"><em class="notcleanPointer"></em> Untidy</span>
                                    }
                                }
                            </td>
                            <td>@(item.Comments)</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>