@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, GMSCore
 @model GMS.Infrastructure.ViewModels.Guests.MemberDetailsWithChild
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Index</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" > -->
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/assets/css/responsive.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="~/assets/carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/carousel/owl.theme.default.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css" rel="stylesheet">
    <link href="~/assets/customcomponents/datetimepicker/build/jquery.datetimepicker.min.css" rel="stylesheet" />
    <link href="~/assets/CustomComponents/CountryCode/css/intlTelInput.css" rel="stylesheet" />
    <link href="~/lib/tagify/tagify.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

    <link href="~/customcss/validation.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_logout")
    <div class="admin_wrapper">
        @Html.Partial("_rooms/_leftNavigationRooms")

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Select Date Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="general_form">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">From</label>
                                    <input type="date" id="flatpickr-startdate" class="form-control">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label">To</label>
                                    <input type="date" id="flatpickr-enddate" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="ShowFilteredRecords()">Show Records</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_container">
            

            <!-- filtered rooms Start-->
            <div class="filtered_rooms_container">
                <div class="therapiesList_table_list">

                    <div class="top_rooms mb-3">
                        <ul>
                            <li class="colorA">
                                <a href="#">
                                    <h4>Naad Suit</h4>
                                    <p>With Private Garden</p>
                                </a>
                            </li>
                            <li class="colorB">
                                <a href="#">
                                    <h4>Naad Suit</h4>
                                    <p>With Private Balcony</p>
                                </a>
                            </li>
                            <li class="colorC">
                                <a href="#">
                                    <h4>Royal Suit</h4>
                                    <p>Basic Room Occupied</p>
                                </a>
                            </li>
                            <li class="colorD">
                                <a href="#">
                                    <h4>Luxury Room</h4>
                                    <p>Short Term Reservation</p>
                                </a>
                            </li>
                            <li class="colorE">
                                <a href="#">
                                    <h4>Premium Room</h4>
                                    <p>Premium Room Occupied</p>
                                </a>
                            </li>
                        </ul>
                    </div>



                    <div class="title_area">
                        <h2>Room Availability</h2>
                        <div class="btn_add">
                            <a href="#" class="addNew_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Filter Data</a>
                        </div>
                    </div>

                    <div id="div_RoomAvailabilityListPartial">
                        @Html.Partial("_roomsAvailability/_listRoomAvailability")
                    </div>
                </div>
            </div>

            <input type="button" style="display:none" id="btnModelAddGuests" data-bs-toggle="modal" data-bs-target="#addGuestPopup" />
            <div id="div_AddGuestsListPartial">
                @Html.Partial("_roomsAvailability/_addGuests")
            </div>
            <input type="button" style="display:none" id="btnModelGuestsDetails" data-bs-toggle="modal" data-bs-target="#GuestsDetailsPopup" />
            <div id="div_GuestsDetailsPartial">
                @Html.Partial("_roomsAvailability/_guestsDetails")
            </div>

            <!-- filtered rooms end-->
            @Html.Partial("_bottomNavigation1")

        </div>
    </div>
    <div id="HiddenFields">
        <input type="hidden" name="RoomNumber" />
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" type="script"></script>
    <!-- javascript -->
    <script src="~/assets/carousel/jquery.min.js"></script>
    <script type="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" type="script"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="~/assets/carousel/owl.carousel.js"></script>
    <script src="~/assets/CustomComponents/CountryCode/js/intlTelInput.js"></script>

    <script type="text/javascript" src="~/assets/CustomComponents/DateTimePicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="~/assets/CustomComponents/DateTimePicker/build/jquery.datetimepicker.full.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <script src="~/lib/tagify/tagify.js"></script>

    <script src="~/customjs/common.js"></script>
    <script src="~/customjs/logout.js"></script>
    <script src="~/customjs/validation.js"></script>
    <script src="~/customjs/rooms/roomsavailability.js"></script>
    <script src="~/customjs/rooms/addguests.js"></script>

    <script>

        $(document).ready(function () {
            RoomAvailabilityListPartialView();
            flatpickr("#flatpickr-enddate", {
                enableTime: false,
                noCalendar: false,
                dateFormat: "d-M-y",
                onChange: function (selectedDates, dateStr) {
                    // $("#selectedDuration").val(dateStr);
                    // CalculateEndTime();
                }
            });
            flatpickr("#flatpickr-startdate", {
                enableTime: false,
                noCalendar: false,
                dateFormat: "d-M-y",
                onChange: function (selectedDates, dateStr) {
                    // $("#selectedDuration").val(dateStr);
                    // CalculateEndTime();
                }
            });
        });


        $(document).ready(function () {
            var owl = $('.premium_rooms_slider');
            owl.owlCarousel({
                margin: 10,

                responsive: {
                    0: {
                        items: 2,
                        nav: true,
                        loop: false
                    },
                    600: {
                        items: 4,
                        nav: true,
                        loop: false
                    },
                    768: {
                        items: 4,
                        nav: true,
                        loop: false

                    },
                    1024: {
                        items: 4,
                        nav: true,
                        loop: false
                    },
                    1266: {
                        items: 6,
                        nav: true,
                        loop: false
                    }
                }/*,
                                                                                                                                                                                                                                                                                        onInitialized : function(){
                                                                                                                                                                                                                                                                                    if($('.owl-item').first().hasClass('active'))
                                                                                                                                                                                                                                                                                      $('.owl-prev').hide();
                                                                                                                                                                                                                                                                                    else
                                                                                                                                                                                                                                                                                      $('.owl-prev').show();
                                                                                                                                                                                                                                                                                  } */
            })
        })


        var owl = $('.basic_rooms_slider');
        owl.owlCarousel({
            margin: 10,

            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                768: {
                    items: 4,
                    nav: true,
                    loop: false

                },
                1024: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                1266: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        })
        var owl = $('.short_reservation_slider');
        owl.owlCarousel({
            margin: 10,

            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                768: {
                    items: 4,
                    nav: true,
                    loop: false

                },
                1024: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                1266: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        })
        var owl = $('.empty_room_slider');
        owl.owlCarousel({
            margin: 10,

            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                768: {
                    items: 4,
                    nav: true,
                    loop: false

                },
                1024: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                1266: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        })



        

        

    </script>

</body>
</html>