@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, GMSCore
@model GMS.Infrastructure.ViewModels.Guests.GuestsListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Guest Manager";
}

<link href="~/customcss/common.css" rel="stylesheet" />


<style>
    .guest_info_attention {
        /* border: #c54014 solid 2px !important; */
        background: #f07167 !important;
    }

    .user_icon_attention {
        /*  border: #ffffff solid 2px !important; */
        /*   background: #ad3f1a !important; */
    }

    /* Search Container */
    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .search-input {
        width: 0;
        opacity: 0;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 20px;
        transition: width 0.4s ease, opacity 0.3s ease;
        background: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .search-container.active .search-input {
        width: 200px; /* Adjust width as needed */
        opacity: 1;
        padding-left: 15px;
    }

    .search-icon {
        border: none;
        background: none;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
    }

    .search-input:focus {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    }

    .raiods_btn_filters .form-check-input {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="admin_wrapper">

    @Html.Partial("_crm/_leftNavigationCRM")

    <!-- Modal -->
    @* <div class="modal fade" id="CheckListModal" tabindex="-1" aria-labelledby="CheckListModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog1 modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="CheckListModalLabel">Guest Check-in Checklist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <div class="col-sm-12 row mb-3 form-group txt-mag-inn">
        <input type="hidden" name="CheckInModelGuestId" value="0" />
        <div class="col-sm-3 text-center padding-txt">
        <label for="PH.NO>">UHID</label>
        </div>
        <div class="col-sm-3 text-center padding-txt">
        <label for="PH.NO>" name="lblCheckInModelGuestCode">RYRE47298742</label>
        </div>
        <div class="col-sm-3 text-center padding-txt">
        <label for="PH.NO>">Name</label>
        </div>
        <div class="col-sm-3 text-center padding-txt">
        <label for="PH.NO" name="lblCheckInModelGuestName">Asif Ali</label>
        </div>
        </div>
        <table class="table table-bordered" id="Grvd">
        <thead>
        <tr style="background-color: #b5a38b;">
        <th>
        <div class="checkbox">
        <input type="checkbox" value="">
        </div>
        </th>
        <th>Description</th>

        </tr>
        </thead>
        <tbody><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_1" value=""></div></td><td>Room Key Issued</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_2" value=""></div></td><td> Internet WIFI credentials</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_3" value=""></div></td><td>Dress Issued / Arranged</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_4" value=""></div></td><td>Room Ready</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_5" value=""></div></td><td>Treatment Schedule Shared</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_6" value=""></div></td><td>Doctor Scheduled Shared</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_7" value=""></div></td><td>Food Schedule Shared</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_8" value=""></div></td><td>Luggage tagged</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_9" value=""></div></td><td>Documents &amp; TnC signed by Customer</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_10" value=""></div></td><td>ID veriffied</td></tr><tr><td><div class="checkbox"><input type="checkbox" checked="checked" id="ChkID_1005" value=""></div></td><td>Room is not Ready yet</td></tr></tbody>
        </table>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="SubmitChecklist()">Check-in</button>
        </div>
        </div>
        </div>
        </div> *@

    <div id="div_GuestsCheckInPartialView">
        @Html.Partial("_guestsList/_guestsCheckIn")
    </div>

    <div id="div_GuestsCheckOutPartialView">
        @Html.Partial("_guestsList/_guestsCheckOut")
    </div>





    <div id="div_AddRoomPartial">
        @* @Html.Partial("_guestsList/_addRoom") *@
    </div>



    <input type="button" style="display:none" id="btnModelAddGuests" data-bs-toggle="modal" data-bs-target="#addGuestPopup" />
    <!-- Add Guests Model -->
    <div id="div_AddGuestsListPartial">
        @Html.Partial("_guestsList/_addGuests")
    </div>
    <!-- Add Guests Model -->
    <div id="div_BillingPartial">
        @Html.Partial("_guestsList/_billing")
    </div>
    <div id="div_SettlementPartial">
        @Html.Partial("_guestsList/_settlement")
    </div>
    <div id="div_AddServicesPartial">
        @Html.Partial("_guestsList/_addServices")
    </div>

    <div id="div_ChangeReservationDetailsPartial">
        @Html.Partial("_guestsList/_changeReservationDetails")
    </div>

    <!-- Modal -->
    <div class="right_container">


        <!-- filtered rooms Start-->
        <div class="filtered_rooms_container">
            <div class="therapiesList_table_list">
                <div class="title_area">
                    <div class="raiods_btn_filters">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" onclick="setActive('All')" value="option1">
                            <label class="form-check-label" for="inlineRadio1">All</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" checked type="radio" name="inlineRadioOptions" id="inlineRadio2" onclick="setActive('Current')" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Current</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" onclick="setActive('Upcoming')" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Upcoming</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" onclick="setActive('Previous')" value="option3">
                            <label class="form-check-label" for="inlineRadio3">Previous</label>
                        </div>
                        <input type="hidden" id="GuestsListType" />
                    </div>
                    <div class="btn_add btn_add2">
                        @* <input type="search" oncancel="GuestsListPartialView()" onchange="GuestsListPartialView()" placeholder="Search..." class="txt" name="GuestsSearchKeyword" id="GuestsSearchKeyword"> *@
                        <div class="search-container">
                            <input type="search" oncancel="GuestsListPartialView()" onchange="GuestsListPartialView()" class="search-input" placeholder="Search..." name="GuestsSearchKeyword" id="GuestsSearchKeyword">
                            <button class="search-icon"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>

                <div id="div_ViewGuestsListPartial">
                    @* @Html.Partial("_guestsList/_guestsGridView", Model) *@
                </div>


                <!-- Modal -->
                <input type="button" style="display:none" value="Open Feedback" id="btnAddFeedbackPopup" data-bs-toggle="modal" data-bs-target="#modalFeedbackPopup" />
                <div class="modal fade" id="modalFeedbackPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog1 modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Client Feedback</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="GuestId_FeedbackForm" />
                                <div class="row">
                                    <div class="justify-content-center justify-content-sm-around" style="text-align:center">
                                        <input type="button" class="btn btn-primary" value="Feedback Now" onclick="OpenReviewAndFeedbackStream()" style="background-color: #61a39f !important;" />
                                        <input type="button" class="btn btn-primary" value="Send Email" style="background-color: #5fadc8 !important;" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog1 modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Upload Documents</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="general_form">
                                    <div class="mb-3">
                                        <label class="form-label">Uplaod Addhaar Card</label>
                                        <input type="file" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Uplaod Medical Report</label>
                                        <input type="file" class="form-control">
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->


            </div>
        </div>
        <!-- filtered rooms end-->
        @Html.Partial("_bottomNavigation1")

    </div>
</div>


@section Scripts {
    <script src="~/customjs/guestsfinallist/guestslist.js"></script>
    <script src="~/customjs/guests/addroom.js"></script>
    <script src="~/customjs/guests/GuestsSearch.js"></script>
    <script src="~/customjs/guests/Billing.js"></script>
    <script src="~/customjs/guests/AddServices.js"></script>
    <script src="~/customjs/guests/Settlement.js"></script>
    <script src="~/customjs/guests/RatePlans.js"></script>
    <script src="~/customjs/guests/ChangeReservationDetails.js"></script>

    <script>
        let dateOfDepartment;
        let dateOfArrival;

        const searchContainer = document.querySelector(".search-container");
        const searchIcon = document.querySelector(".search-icon");

        searchIcon.addEventListener("click", () => {
            searchContainer.classList.toggle("active");
        });
        $(document).ready(function () {
            var owl = $('.premium_rooms_slider');
            owl.owlCarousel({
                margin: 10,

                responsive: {
                    0: {
                        items: 2,
                        nav: true,
                        loop: false
                    },
                    600: {
                        items: 4,
                        nav: true,
                        loop: false
                    },
                    768: {
                        items: 4,
                        nav: true,
                        loop: false

                    },
                    1024: {
                        items: 4,
                        nav: true,
                        loop: false
                    },
                    1266: {
                        items: 6,
                        nav: true,
                        loop: false
                    }
                }/*,
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        onInitialized : function(){
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    if($('.owl-item').first().hasClass('active'))
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      $('.owl-prev').hide();
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    else
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      $('.owl-prev').show();
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  } */
            })
        })

        var owl = $('.basic_rooms_slider');
        owl.owlCarousel({
            margin: 10,

            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                768: {
                    items: 4,
                    nav: true,
                    loop: false

                },
                1024: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                1266: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        })
        var owl = $('.short_reservation_slider');
        owl.owlCarousel({
            margin: 10,

            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                768: {
                    items: 4,
                    nav: true,
                    loop: false

                },
                1024: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                1266: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        })
        var owl = $('.empty_room_slider');
        owl.owlCarousel({
            margin: 10,

            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    loop: false
                },
                600: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                768: {
                    items: 4,
                    nav: true,
                    loop: false

                },
                1024: {
                    items: 4,
                    nav: true,
                    loop: false
                },
                1266: {
                    items: 6,
                    nav: true,
                    loop: false
                }
            }
        })




    </script>

}