@using System.Globalization
@model GMS.Infrastructure.ViewModels.Guests.GuestsListViewModel
<div class="guest_list">
    @{
        if (Model != null && Model.MemberDetailsWithChildren != null)
        {
            if (Model.MemberDetailsWithChildren.Count > 0)
            {
                foreach (var item in Model.MemberDetailsWithChildren)
                {
                    <div class="guest_info @(item.PaxCompleted==false ? "guest_info_attention" : "")">
                        <div class="dropdown">
                            <button class="three-dots dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="javascript:void(0)" onclick="AddGuestsPartialView('@item.GroupId')"><i class="bi bi-pencil-fill"></i> Edit</a></li>
                                <li><a class="dropdown-item" href="review.html"><i class="bi bi-eye-fill"></i> Review</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)" onclick="AddRoomPartialView(@item.Id)"><i class="bi bi-file-earmark-plus-fill"></i> Add Room</a></li>
                                <li><a class="dropdown-item" href="add_Services.html"><i class="bi bi-file-earmark-plus-fill"></i> Add Services</a></li>
                                <li><a class="dropdown-item" href="/Guests/GuestSchedule/@item.Id"><i class="bi bi-clock-fill"></i> Schedules</a></li>
                                <li><a class="dropdown-item" href="print.html"><i class="bi bi-printer-fill"></i> Print</a></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2"><i class="bi bi-file-earmark-arrow-up-fill"></i> Upload</a></li>
                            </ul>
                        </div>
                        <a href="#">
                            <span class="user_icon @(item.PaxCompleted==false ? "user_icon_attention" : "")"><strong>@item.RoomNumber</strong> </span>
                            <ul class="usert_info">
                                <li>UHID <span>@item.UniqueNo</span></li>
                                <li>Name <span>@item.CustomerName</span></li>
                                <li>Phone No <span>@item.MobileNo</span></li>
                                <li>Stay <span> @item.DateOfArrival?.ToString("dd/MMM/yy") - @item.DateOfDepartment?.ToString("dd/MMM/yy")</span></li>
                                <li>Duration <span>@item.Category</span></li>
                                <li>Gender <span>@(item.GenderName == null ? "-" : item.GenderName)</span></li>
                                @{
                                    string memberAge = "-";
                                    if (item.Dob != null)
                                    {
                                        DateTime today = DateTime.Today;
                                        DateTime dob = DateTime.ParseExact(item.Dob, "dd-MM-yyyy", CultureInfo.InvariantCulture);
                                        int age = today.Year - dob.Year;
                                        if (dob.Date > today.AddYears(-age)) age--;
                                        memberAge = age.ToString();
                                    }
                                }
                                <li>Age <span>@(memberAge)</span></li>

                            </ul>
                        </a>
                        @{
                            if (item.CheckInStatus == 1)
                            {
                                <a href="javascript:void(0)" class="checkin_btn">Add Room</a>
                            }
                            else if (item.CheckInStatus == 2)
                            {
                                <a href="javascript:void(0)" onclick="OpenCheckInListModal(@item.Id,'@item.UniqueNo','@item.CustomerName')" class="checkin_btn">Check In</a>
                            }
                            else if (item.CheckInStatus == 3)
                            {
                                <a href="javascript:void(0)" onclick="OpenCheckOutListModalPartialView(@item.Id,'@item.UniqueNo','@item.CustomerName')" class="checkin_btn">Check Out</a>
                            }
                            else if (item.CheckInStatus == 4)
                            {
                                <a href="javascript:void(0)" class="checkin_btn">Review</a>
                            }
                            else
                            {
                            }
                        }
                    </div>
                }
            }
        }
    }

</div>
@{
    if (Model?.GuestsWithChildren?.Count == 0)
    {
        <div class="no_record">
            <div class="noc">
                <span><img src="~/assets/img/no-record.png"></span>
                <h3>No Guests Found!</h3>
            </div>
        </div>
    }
    else
    {
        <div class="pagination2">
            @{
                if (Model != null && Model.GuestsGridViewParameters != null)
                {
                    int PageIndex = Model.GuestsGridViewParameters.PageNumber ?? default(int);
                    int TotalPages = Model.GuestsGridViewParameters.TotalPages ?? default(int);

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="GuestsListPartialView(@(PageIndex > 1 ? PageIndex - 1 : 1))">Previous</a></li>

                            @if (PageIndex > 3)
                            {
                                <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="GuestsListPartialView(1)">1</a></li>
                                <li class="page-item disabled"><a class="page-link" href="javascript:void(0)">...</a></li>
                            }
                            @for (var i = Math.Max(1, PageIndex - 1); i <= Math.Min(PageIndex + 1, TotalPages); i++)
                            {
                                <li class="page-item @(i == PageIndex ? "active" : "")"><a class="page-link" href="javascript:void(0)" onclick="GuestsListPartialView(@i)">@i</a></li>
                            }
                            @if (PageIndex < TotalPages - 2)
                            {
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="GuestsListPartialView(@TotalPages)">@TotalPages</a></li>
                            }
                            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="GuestsListPartialView(@(PageIndex < TotalPages ?  PageIndex + 1 : TotalPages))">Next</a></li>


                            @*<li class="page-item last">
            <a class="page-link" href="javascript:void(0)" onclick="ProjectListPartialView(@TotalPages)">
            <i class="fa-solid fa-angles-right"></i>
            </a>
            </li>*@

                        </ul>
                    </nav>

                }
            }
        </div>
    }
}



