@model GMS.Infrastructure.ViewModels.ResourceAllocation.ResourceAllocationViewModel
<div class="resposive_table">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Duration</th>
                <th scope="col">Start DateTime</th>
                <th scope="col">End DateTime</th>
                <th scope="col">Treatment Room</th>
                <th scope="col">Healer1</th>
                <th scope="col">Healer2</th>
                <th scope="col">Healer3</th>
                <th scope="col">Guest Name</th>
                <th scope="col">Room No</th>
                <th scope="col">In Package</th>
                <th scope="col">Remarks</th>
                <th scope="col" width="300">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null && Model.ScheduleWithAttributeList != null)
                {
                    foreach (var item in Model.ScheduleWithAttributeList)
                    {
                        <tr>
                            <td scope="row" class="taskname" style="white-space: nowrap;">
                                @{
                                    string taskName = "";
                                    if (Model.Tasks != null && item.TaskId > 0)
                                    {
                                        var selectedTask = Model.Tasks.FirstOrDefault(t => t.Id == item.TaskId);
                                        if (selectedTask != null)
                                        {
                                            taskName = selectedTask.TaskName;
                                        }
                                    }
                                }
                                @taskName
                            </td>
                            <td scope="row" class="duration" style="white-space: nowrap;">@item.Duration</td>
                            <td scope="row" style="white-space: nowrap;">@item.StartDateTime.ToString("dd-MMM-yyyy hh:mm tt")</td>
                            <td scope="row" style="white-space: nowrap;">@item.EndDateTime.ToString("dd-MMM-yyyy hh:mm tt")</td>
                            <td scope="row" style="white-space: nowrap;">@item.ResourceName</td>
                            <td scope="row" style="white-space: nowrap;">@item.Therapist1Name</td>
                            <td scope="row" style="white-space: nowrap;">@item.Therapist2Name</td>
                            <td scope="row" style="white-space: nowrap;">@item.Therapist3Name</td>
                            <td scope="row" style="white-space: nowrap;">@item.GuestName</td>
                            <td scope="row" style="white-space: nowrap;">@(!string.IsNullOrEmpty(item.RoomNo) ? "Room " + item.RoomNo : "")</td>
                            <td scope="row" style="white-space: nowrap;">@(item.InPackage == true ? "Yes" : "No")</td>
                            <td scope="row" style="white-space: nowrap;">@item.Remarks</td>
                            <td style="white-space: nowrap;">
                                <div class="actions_btns">
                                    <a href="#" onclick="EditSchedule(@item.Id)" class="pencil ms-2"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="#" onclick="DeleteSchedule(@item.Id)" class="trash ms-2"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>

                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>