@model GMS.Infrastructure.ViewModels.Dashboard.DashboardViewModel

@{
    ViewData["Title"] = "Audit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .bg-primary2 {
        background-color: #6EBCB7 !important;
    }

    .pb-21 {
        padding-bottom: 9.5rem !important;
    }

    .pt-10 {
        padding-top: 4rem !important;
    }

    .rounded-2 {
        border-radius: .375rem !important;
    }

    .bg-light-primary {
        background-color: #f2eae0 !important;
    }

    .text-primary2 {
        color: #6ebcb7 !important;
    }

    .icon-shape {
        align-items: center;
        display: inline-flex;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
    }

    .icon-md {
        height: 2.5rem;
        line-height: 2.5rem;
        width: 2.5rem;
    }


    .mt-n22 {
        margin-top: -10rem !important;
    }

    .card {
        border-radius: 12px !important;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* soft shadow */
        margin-bottom: 30px;
    }

        .card h4 {
            font-size: 18px !important;
        }



    .cardItems {
        background: #fff;
        border-radius: 16px;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
        overflow: hidden;
        transition: transform 0.3s ease;
    }

        .cardItems:hover {
            transform: translateY(-5px);
        }

    .card-header {
        background: linear-gradient(135deg, #6ebcb7, #14b98f);
        color: #fff;
        padding: 16px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .card-header h4 {
            margin: 0;
            color: #fff;
            font-size: 1rem;
            font-weight: 600;
        }

        .card-header span {
            font-size: 0.95rem;
            font-weight: 500;
        }

    .card-body {
        padding: 20px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        border-bottom: 1px solid #eee;
        font-size: 0.95rem;
    }

        .item:last-child {
            border-bottom: none;
        }

    .label {
        color: #444;
    }

    .value {
        font-weight: 700;
        color: #111;
        letter-spacing: 0.5px;
    }

        .value span {
            font-size: 0.75rem;
            color: #777;
            margin-left: 4px;
            font-weight: 600;
        }

    .owl-stage-outer {
        padding: 30px 0
    }

    .owl-carousel .owl-nav {
        display: inline-block;
    }

        .owl-carousel .owl-nav button {
            background: #6EBCB7 !important;
            height: 30px;
            width: 30px;
        }

    .owl-theme .owl-nav {
        text-align: center;
        width: 100%;
    }

    .owl-dots {
        display: none;
    }

    .fistCr .owl-stage-outer {
        padding: 0 !important
    }
</style>
<div class="admin_wrapper">
    @Html.Partial("_accounting/_leftNavigationAccounting")


    <div class="right_container" style="margin-bottom: 120px;">
        <span onclick="openNav()" class="menu_opener"><i class="bi bi-list"></i></span>

        <div class="bg-primary2 pt-10 pb-21"></div>
        <div class="container-fluid mt-n22 px-6">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12">
                    <!-- Page header -->
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="mb-2 mb-lg-0">
                                <h3 class="mb-0  text-white">Front Office Dashboard</h3>
                            </div>
                            <div class="mb-2 mb-lg-0">
                                <input type="button" class="btn btn-dark btn-lg" value="Run Audit" onclick="RunAudit()" />
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12">
                    <div class="owl-carousel owl-theme mt-5 pb-0 fistCr">

                        <!-- card -->
                        <div class="card ">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center
                    mb-3">
                                    <div>
                                        <h4 class="mb-0">Occupancy Percentage</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary2
                      rounded-2">
                                        <i class="bi bi-briefcase fs-4"></i>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    @{
                                        var dateData = Model?.RoomOccupancyDataList?.ToList();
                                        decimal bookedRooms = dateData?.Sum(x => x.BookedRooms) ?? 0;
                                        var totalRooms = dateData?.Sum(x => x.TotalRooms) ?? 0;
                                        var totaloccupancypercent = (bookedRooms * 100) / (totalRooms);
                                    }
                                    <h1 class="fw-bold">@(totaloccupancypercent.ToString("F2"))%</h1>
                                    @* <p class="mb-0"><span class="text-dark me-2">@(bookedRooms)</span>Occupied</p> *@
                                </div>
                            </div>
                        </div>





                        <!-- card -->
                        <div class="card ">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">Total Revenue</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary2 rounded-2">
                                        <i class="bi bi-list-task fs-4"></i>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    @{
                                        var dateDataRoom = Model?.RoomRevenueDataList?.FirstOrDefault();
                                        var dateDataFnB = Model?.PackageRevenueDataList?.FirstOrDefault();
                                        var dateDataUpsell = Model?.UpsellRevenueDataList?.FirstOrDefault();
                                    }
                                    <h1 class="fw-bold">@((dateDataRoom?.TotalRevenue + dateDataFnB?.TotalRevenue + dateDataUpsell?.TotalRevenue)?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN")))</h1>
                                    @* <p class="mb-0"><span class="text-dark me-2">28</span>Completed</p> *@
                                </div>
                            </div>
                        </div>


                        <!-- card -->
                        <div class="card ">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <div>
                                        <h4 class="mb-0">Todays Collection</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary2 rounded-2">
                                        <i class="bi bi-people fs-4"></i>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    @{
                                        var datePayment = Model?.PaymentDataList?.FirstOrDefault();
                                    }
                                    <h1 class="fw-bold">@(datePayment?.TotalRevenue?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN")))</h1>
                                    @* <p class="mb-0"><span class="text-dark me-2">1</span>Completed</p> *@
                                </div>
                            </div>
                        </div>



                        <!-- card -->
                        <div class="card ">
                            <!-- card body -->
                            <div class="card-body">
                                <!-- heading -->
                                <div class="d-flex justify-content-between align-items-center
                    mb-3">
                                    <div>
                                        <h4 class="mb-0">Average Selling Rate</h4>
                                    </div>
                                    <div class="icon-shape icon-md bg-light-primary text-primary2
                      rounded-2">
                                        <i class="bi bi-bullseye fs-4"></i>
                                    </div>
                                </div>
                                <!-- project number -->
                                <div>
                                    <h1 class="fw-bold">76%</h1>
                                    @* <p class="mb-0"><span class="text-success me-2">5%</span>Completed</p> *@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="owl-carousel owl-theme ">
                        <div class="cardItems">
                            <div class="card-header">
                                <h4>Rooms</h4>
                                <span>@(System.DateTime.Now.ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <div class="card-body">
                                <div class="item">
                                    @{
                                        var totalRoomData = Model?.RoomOccupancyDataList?.ToList();
                                        var totalRooms1 = totalRoomData?.Sum(x => x.TotalRooms);
                                    }
                                    <div class="label">Total</div>
                                    <div class="value">@(totalRoomData?.Sum(x => x.TotalRooms)) <span>Rooms</span></div>
                                </div>
                                <div class="item">
                                    <div class="label">Occupied</div>
                                    <div class="value">@(totalRoomData?.Sum(x => x.BookedRooms)) <span>Rooms</span></div>
                                </div>
                                <div class="item">
                                    <div class="label">Available</div>
                                    <div class="value">@(totalRoomData?.Sum(x => x.AvailableRooms)) <span>Rooms</span></div>
                                </div>
                                <div class="item">
                                    <div class="label">Tidy</div>
                                    <div class="value">@(totalRoomData?.Sum(x => x.TidyRooms)) <span>Rooms</span></div>
                                </div>
                                <div class="item">
                                    <div class="label">Checkin</div>
                                    <div class="value">@(totalRoomData?.Sum(x => x.TodayCheckIns)) <span>Guests</span></div>
                                </div>
                                <div class="item">
                                    <div class="label">Checkout</div>
                                    <div class="value">@(totalRoomData?.Sum(x => x.TodayCheckOuts)) <span>Guests</span></div>
                                </div>
                                <div class="item">
                                    <div class="label">No Show</div>
                                    <div class="value">xx <span>Guests</span></div>
                                </div>
                            </div>
                        </div>


                        @{
                            if (Model != null && Model.RoomOccupancyDataList != null)
                            {
                                var roomTypesIds = Model.RoomOccupancyDataList.GroupBy(x => x.ID).ToList();
                                foreach (var roomTypeId in roomTypesIds)
                                {
                                    var roomType = Model.RoomOccupancyDataList.Where(x => x.ID == roomTypeId.Key).FirstOrDefault();
                                    <div class="cardItems">
                                        <div class="card-header">
                                            <h4>@(roomType?.RType)</h4>
                                            <span>@(System.DateTime.Now.ToString("dd-MMM-yyyy"))</span>
                                        </div>
                                        <div class="card-body">
                                            <div class="item">
                                                <div class="label">Total</div>
                                                <div class="value">@(roomType?.TotalRooms) <span>Rooms</span></div>
                                            </div>
                                            <div class="item">
                                                <div class="label">Occupied</div>
                                                <div class="value">@(roomType?.BookedRooms) <span>Rooms</span></div>
                                            </div>
                                            <div class="item">
                                                <div class="label">Available</div>
                                                <div class="value">@(roomType?.AvailableRooms) <span>Rooms</span></div>
                                            </div>
                                            <div class="item">
                                                <div class="label">Tidy</div>
                                                <div class="value">@(roomType?.TidyRooms) <span>Rooms</span></div>
                                            </div>
                                            <div class="item">
                                                <div class="label">Checkin</div>
                                                <div class="value">@(roomType?.TodayCheckIns) <span>Guests</span></div>
                                            </div>
                                            <div class="item">
                                                <div class="label">Checkout</div>
                                                <div class="value">@(roomType?.TodayCheckIns) <span>Guests</span></div>
                                            </div>
                                            <div class="item">
                                                <div class="label">No Show</div>
                                                <div class="value">x <span>Rooms</span></div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        }



                    </div>
                    @{
                        var roomRevenue = Model?.RoomRevenueDataList?.FirstOrDefault();
                        var fnbRevenue = Model?.PackageRevenueDataList?.FirstOrDefault();
                        var upsellRevenue = Model?.UpsellRevenueDataList?.FirstOrDefault();
                    }
                    <div class="owl-carousel owl-theme ">
                        <div class="cardItems">
                            <div class="card-header">
                                <h4>Total Revenue</h4>
                                <span>@(System.DateTime.Now.ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <div class="card-body">
                                <div class="item">
                                    <div class="label">Today</div>
                                    <div class="value">@((roomRevenue?.TotalRevenue + fnbRevenue?.TotalRevenue + upsellRevenue?.TotalRevenue)?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN"))) <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">MTD</div>
                                    <div class="value">@((roomRevenue?.MTDRevenue + fnbRevenue?.MTDRevenue + upsellRevenue?.MTDRevenue)?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN"))) <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">YTD</div>
                                    <div class="value">@((roomRevenue?.YTDRevenue + fnbRevenue?.YTDRevenue + upsellRevenue?.YTDRevenue)?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN"))) <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPD</div>
                                    <div class="value">@((roomRevenue?.YTDRevenue + fnbRevenue?.YTDRevenue + upsellRevenue?.YTDRevenue)?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN"))) <span></span></div>
                                </div>
                                @{
                                    var totalRevenueCPMChange = (roomRevenue?.CPM_Change + fnbRevenue?.CPM_Change + upsellRevenue?.CPM_Change) ?? 0;
                                    string totalRevenueCPMClass = totalRevenueCPMChange > 0 ? "text-success" : totalRevenueCPMChange < 0 ? "text-danger" : "text-muted";
                                    string totalRevenueCPMArrow = totalRevenueCPMChange > 0 ? "↑" : totalRevenueCPMChange < 0 ? "↓" : "→";
                                }
                                <div class="item">
                                    <div class="label">CPM</div>
                                    <div class="value @(totalRevenueCPMClass)">
                                        @(totalRevenueCPMChange) @(totalRevenueCPMArrow)<span></span>
                                    </div>
                                </div>
                                @{
                                    var totalRevenueCPYChange = (roomRevenue?.CPY_Change + fnbRevenue?.CPY_Change + upsellRevenue?.CPY_Change) ?? 0;
                                    string totalRevenueCPYClass = totalRevenueCPYChange > 0 ? "text-success" : totalRevenueCPYChange < 0 ? "text-danger" : "text-muted";
                                    string totalRevenueCPYArrow = totalRevenueCPYChange > 0 ? "↑" : totalRevenueCPYChange < 0 ? "↓" : "→";
                                }
                                <div class="item">
                                    <div class="label">CPY</div>
                                    <div class="value @(totalRevenueCPYClass)">
                                        @(totalRevenueCPYChange) @(totalRevenueCPYArrow)<span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @{
                            var cpdChange = roomRevenue?.CPD_Change ?? 0;
                            string cpdClass = cpdChange > 0 ? "text-success" : cpdChange < 0 ? "text-danger" : "text-muted";
                            string cpdArrow = cpdChange > 0 ? "↑" : cpdChange < 0 ? "↓" : "→";
                        }
                        <div class="cardItems">
                            <div class="card-header">
                                <h4>Room Revenue</h4>
                                <span>@(System.DateTime.Now.ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <div class="card-body">
                                <div class="item">
                                    <div class="label">Today</div>
                                    <div class="value">
                                        @(roomRevenue?.TotalRevenue?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN")))
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">MTD</div>
                                    <div class="value">
                                        @(roomRevenue?.MTDRevenue?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN")))
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">YTD</div>
                                    <div class="value">
                                        @(roomRevenue?.YTDRevenue?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN")))
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">CPD% (Change from previous day)</div>
                                    <div class="value @cpdClass">
                                        @(Math.Abs(cpdChange)) @cpdArrow
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">CPM%</div>
                                    <div class="value">26,582</div>
                                </div>
                                <div class="item">
                                    <div class="label">CPY%</div>
                                    <div class="value">26,582</div>
                                </div>
                            </div>
                        </div>

                        <div class="cardItems">
                            <div class="card-header">
                                <h4>F&B Revenue</h4>
                                <span>@(System.DateTime.Now.ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <div class="card-body">
                                <div class="item">
                                    <div class="label">Today</div>
                                    <div class="value">@(fnbRevenue?.TotalRevenue?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN"))) <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">MTD</div>
                                    <div class="value">3,872 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">YTD</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPD</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPM</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPY</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="cardItems">
                            <div class="card-header">
                                <h4>Other Revenue</h4>
                                <span>@(System.DateTime.Now.ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <div class="card-body">
                                <div class="item">
                                    <div class="label">Today</div>
                                    <div class="value">@(upsellRevenue?.TotalRevenue?.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("en-IN"))) <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">MTD</div>
                                    <div class="value">3,872 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">YTD</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPD</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPM</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPY</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                            </div>
                        </div>
                        @{
                            var roomOccupied = Model?.RoomOccupancyDataList?.ToList().Sum(x => x.BookedRooms);
                            var adr = roomOccupied == 0 ? 0 : (roomRevenue?.TotalRevenue / roomOccupied) ?? 0;
                        }
                        <div class="cardItems">
                            <div class="card-header">
                                <h4>ADR (Average Daily Rate)</h4>
                                <span>@(System.DateTime.Now.ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <div class="card-body">
                                <div class="item">
                                    <div class="label">Today</div>
                                    <div class="value">@(adr.ToString("F2")) <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">MTD</div>
                                    <div class="value">3,872 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">YTD</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPD</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPM</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPY</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                            </div>
                        </div>
                        @{
                            var revpar = totalRooms == 0 ? 0 : (roomRevenue?.TotalRevenue / totalRooms) ?? 0;
                        }
                        <div class="cardItems">
                            <div class="card-header">
                                <h4>RevPAR</h4>
                                <span>@(System.DateTime.Now.ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <div class="card-body">
                                <div class="item">
                                    <div class="label">Today</div>
                                    <div class="value">@(revpar.ToString("F2")) <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">MTD</div>
                                    <div class="value">3,872 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">YTD</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPD</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPM</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                                <div class="item">
                                    <div class="label">CPY</div>
                                    <div class="value">26,582 <span></span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>

    @Html.Partial("_bottomNavigation1")
</div>







@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script src="~/customjs/validation.js"></script>
    <script src="~/customjs/accounting/runnightaudit.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {

                   $("#inputmonthyearselector")
                .datetimepicker({
                    format: 'M-Y', // month-year format (e.g., 05-2025)
                    timepicker: false, // no time picker
                    datepicker: true, // enable datepicker
                    viewMode: 'months', // start with month view (some plugins use this)
                    minView: 'months', // limit selection to month level
                });

                  $(".owl-carousel").owlCarousel({
          loop: false,
          margin: 15,
          nav: true,
          dots: true,
          navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
          responsive:{
            0:{ items:1 },
            600:{ items:2 },
            1000:{ items:3 },
            1200:{ items:4 }
          }
        });

        });

        const scrollContainer = document
            .getElementById("scrollContainer");
        const scrollLeft = document
            .getElementById("scrollLeft");
        const scrollRight = document
            .getElementById("scrollRight");
        const scrollStep =
            200; // Pixels to scroll on each click

        function updateButtons() {
            scrollLeft.classList.toggle(
                "hidden", scrollContainer
                .scrollLeft <= 0);
            scrollRight.classList.toggle(
                "hidden", scrollContainer
                .scrollLeft +
                scrollContainer
                .clientWidth >=
                scrollContainer.scrollWidth);
        }

        scrollLeft.addEventListener("click",
            () => {
                scrollContainer.scrollBy({
                    left: -scrollStep,
                    behavior: "smooth"
                });
            });

        scrollRight.addEventListener("click",
            () => {
                scrollContainer.scrollBy({
                    left: scrollStep,
                    behavior: "smooth"
                });
            });

        scrollContainer.addEventListener(
            "scroll", updateButtons);
        window.addEventListener("resize",
            updateButtons);

        updateButtons(); // Ensure correct button visibility on load




    </script>
}

